// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;

$maxsize: 1108;
$side:20;
$baseFontSize: 16;
$font01:"Noto Sans JP","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
$font02:'Roboto', sans-serif;
$baseColor:  #454545;
$linkHoverColor: #00f;

$z-map: ( footerMenu,header,event);

$colorGreen:#58AF00;
// z-indexの管理
@function z($name) {
  @return index($z-map, $name) + 20;
}
